<app-navbar></app-navbar>
<div class="container">
  <!-- <mat-card>
    <div style="text-align: center;">
      <countdown mat-card-title #cd [config]="{ leftTime: 120, demand: true, format: 'm:ss' }"></countdown>
        <mat-card-subtitle>Match Time</mat-card-subtitle>
    </div>
    <div class="scoreBtns">
      <button mat-raised-button color="primary" (click)="cd.pause()">Pause</button>
      <button mat-raised-button color="primary" (click)="cd.begin()">Start</button>
      <button mat-raised-button color="primary" (click)="cd.restart()">Reset Timer</button>
        <br>
      <button mat-raised-button color="basic">+1 second</button>
      <button mat-raised-button color="basic">-1 second</button>
      <button mat-raised-button color="basic">Overtime</button>
    </div>
  </mat-card>
</div><br> -->
<mat-card>
  <div style="text-align: center;">
    <mat-card-title>{{currentGame.bracket}}</mat-card-title>
    <form (submit)="bracketSubmit(bracketForm)" #bracketForm="ngForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bracket Name</mat-label>
        <input matInput type="text" name="bracketUpd" #bracketUpd="ngModel" ngModel>
      </mat-form-field>
      <button mat-raised-button color="primary" class="button butCenter" type="submit">Update Text</button><br>
    </form>
  </div>
</mat-card>
</div><br>
<div class="playerWrapper">
  <div class="playerCard">
    <mat-card>
      <div style="text-align: center;">
        <mat-card-title>{{currentGame.name1}}: {{ currentGame.score1 }}</mat-card-title>
        <mat-card-subtitle>{{currentGame.akhara1}}</mat-card-subtitle>
          <div style="text-align: center;">
            <h3>Personal Fouls: {{ pers1 }}</h3>
            <h3>Technical Fouls: {{ tech1 }}</h3>
          </div>
      </div>
      <div class="scoreBtns">
        <button mat-raised-button color="primary" (click)="firstScoreOne()">+1</button>
        <button mat-raised-button color="primary" (click)="firstScoreTwo()">+2</button>
        <button mat-raised-button color="primary" (click)="firstScoreThree()">+3</button>
          <br>
        <button mat-raised-button color="warn" (click)="firstScoreMinusOne()">-1</button>
        <button mat-raised-button color="warn" (click)="firstScoreMinusTwo()">-2</button>
        <button mat-raised-button color="warn" (click)="firstScoreMiusThree()">-3</button>
      </div>
      <br>
      <div class="foulBtns">
        <button mat-raised-button color="primary" (click)="personalOneUp()">+1 Personal Foul</button>
        <button mat-raised-button color="primary" (click)="techOneUp()">+1 Technical Foul</button>
          <br>
        <button mat-raised-button color="warn" (click)="personalOneDown()">-1 Personal Foul</button>
        <button mat-raised-button color="warn" (click)="techOneDown()">-1 Technical Foul</button>
      </div><br>
      <form (submit)="p1Update(postForm)" #postForm="ngForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player Name</mat-label>
          <input matInput type="text" name="name1Upd" #name1Upd="ngModel" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gatka Akhara</mat-label>
          <input matInput type="text" name="akhara1Upd" #akhara1Upd="ngModel" ngModel>
        </mat-form-field>
        <button mat-raised-button color="primary" class="button butCenter" type="submit">Update Text</button>
      </form>
  </mat-card>
</div>
<div class="playerCard">
  <mat-card>
    <div style="text-align: center;">
      <mat-card-title>{{currentGame.name2}}: {{ currentGame.score2 }}</mat-card-title>
      <mat-card-subtitle>{{currentGame.akhara2}}</mat-card-subtitle>
        <div style="text-align: center;">
          <h3>Personal Fouls: {{ pers2 }}</h3>
          <h3>Technical Fouls: {{ tech2 }}</h3>
        </div>
    </div>
      <div class="scoreBtns">
        <button mat-raised-button color="primary" (click)="secScoreOne()">+1</button>
        <button mat-raised-button color="primary" (click)="secScoreTwo()">+2</button>
        <button mat-raised-button color="primary" (click)="secScoreThree()">+3</button>
          <br>
        <button mat-raised-button color="warn" (click)="secScoreMinusOne()">-1</button>
        <button mat-raised-button color="warn" (click)="secScoreMinusTwo()">-2</button>
        <button mat-raised-button color="warn" (click)="secScoreMiusThree()">-3</button>
      </div>
      <br>
      <div class="foulBtns">
        <button mat-raised-button color="primary" (click)="personalTwoUp()">+1 Personal Foul</button>
        <button mat-raised-button color="primary" (click)="techTwoUp()">+1 Technical Foul</button>
          <br>
        <button mat-raised-button color="warn" (click)="personalTwoDown()">-1 Personal Foul</button>
        <button mat-raised-button color="warn" (click)="techTwoDown()">-1 Technical Foul</button>
      </div><br>
      <form (submit)="p2Update(postForm2)" #postForm2="ngForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player Name</mat-label>
          <input matInput type="text" name="name2Upd" #name2Upd="ngModel" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gatka Akhara</mat-label>
          <input matInput type="text" name="akhara2Upd" #akhara2Upd="ngModel" ngModel>
        </mat-form-field>
        <button mat-raised-button color="primary" class="button butCenter" type="submit">Update Text</button>
      </form>
    </mat-card>
  </div>
</div>
<div style="text-align: center;">
  <mat-card style="justify-content: center;">
    <button mat-raised-button color="primary" (click)="clearBracket()">Clear Scoreboard (excl. bracket name)</button>
  </mat-card>
</div>
<div> </div>