<div class="overlayBg">
  <img src="../../assets/images/gatkalogotr.png" width="5.5%" class="logo" />
  <img src="../../assets/images/LiveHeaderTr.png" width="21.5%" class="header" />
  <div>
    <p class="player2">{{name2}}
      <br>
      <span class="akhara">{{akhara2}}</span>
    </p>
  </div>
  <p class="score2">{{score2}}</p>
  <p class="time"><countdown mat-card-title #cd [config]="{ leftTime: 120, demand: true }" style="
    color: white; 
    float: right;
    text-align: center;
    font-family: 'Bebas Neue', 'Roboto', sans-serif;
    font-size: 45px;"></countdown>
    <br>
    <span class="akhara">Singhs Seniors</span>
  </p>
  <p class="score1">{{score1}}</p>
  <div>
    <p class="player1">{{name1}}
      <br>
      <span class="akhara">{{akhara1}}</span>
    </p>
  </div>
  
</div>
<app-navbar></app-navbar>
<div class="container">
  <mat-card>
    <div style="text-align: center;">
      <countdown mat-card-title #cd [config]="{ leftTime: 120, demand: true }"></countdown>
        <mat-card-subtitle>Match Time</mat-card-subtitle>
    </div>
    <div class="scoreBtns">
      <button mat-raised-button color="primary" (click)="cd.begin()">Start</button>
      <button mat-raised-button color="primary" (click)="cd.pause()">Pause</button>
      <button mat-raised-button color="primary" (click)="cd.restart()">Reset Timer</button>
        <br>
      <button mat-raised-button color="basic">+1 second</button>
      <button mat-raised-button color="basic">-1 second</button>
      <button mat-raised-button color="basic">Overtime</button>
    </div>
  </mat-card>
</div><br>
<div class="playerWrapper">
  <div class="playerCard">
    <mat-card>
      <div style="text-align: center;">
        <mat-card-title>{{name1}}: {{ score1 }}</mat-card-title>
        <mat-card-subtitle>{{akhara1}}</mat-card-subtitle>
          <div style="text-align: center;">
            <h3>Personal Fouls: {{ pers1 }}</h3>
            <h3>Technical Fouls: {{ tech1 }}</h3>
          </div>
      </div>
      <div class="scoreBtns">
        <button mat-raised-button color="primary" (click)="firstScoreOne()">+1</button>
        <button mat-raised-button color="primary" (click)="firstScoreTwo()">+2</button>
        <button mat-raised-button color="primary" (click)="firstScoreThree()">+3</button>
          <br>
        <button mat-raised-button color="warn" (click)="firstScoreMinusOne()">-1</button>
        <button mat-raised-button color="warn" (click)="firstScoreMinusTwo()">-2</button>
        <button mat-raised-button color="warn" (click)="firstScoreMiusThree()">-3</button>
      </div>
      <br>
      <div class="foulBtns">
        <button mat-raised-button color="primary" (click)="personalOneUp()">+1 Personal Foul</button>
        <button mat-raised-button color="primary" (click)="techOneUp()">+1 Technical Foul</button>
          <br>
        <button mat-raised-button color="warn" (click)="personalOneDown()">-1 Personal Foul</button>
        <button mat-raised-button color="warn" (click)="techOneDown()">-1 Technical Foul</button>
      </div><br>
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player Name</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gatka Akhara</mat-label>
          <input matInput>
        </mat-form-field>
      </form>
  </mat-card>
</div>
<div class="playerCard">
  <mat-card>
    <div style="text-align: center;">
      <mat-card-title>{{name2}}: {{ score2 }}</mat-card-title>
      <mat-card-subtitle>{{akhara2}}</mat-card-subtitle>
        <div style="text-align: center;">
          <h3>Personal Fouls: {{ pers2 }}</h3>
          <h3>Technical Fouls: {{ tech2 }}</h3>
        </div>
    </div>
      <div class="scoreBtns">
        <button mat-raised-button color="primary" (click)="secScoreOne()">+1</button>
        <button mat-raised-button color="primary" (click)="secScoreTwo()">+2</button>
        <button mat-raised-button color="primary" (click)="secScoreThree()">+3</button>
          <br>
        <button mat-raised-button color="warn" (click)="secScoreMinusOne()">-1</button>
        <button mat-raised-button color="warn" (click)="secScoreMinusTwo()">-2</button>
        <button mat-raised-button color="warn" (click)="secScoreMiusThree()">-3</button>
      </div>
      <br>
      <div class="foulBtns">
        <button mat-raised-button color="primary" (click)="personalTwoUp()">+1 Personal Foul</button>
        <button mat-raised-button color="primary" (click)="techTwoUp()">+1 Technical Foul</button>
          <br>
        <button mat-raised-button color="warn" (click)="personalTwoDown()">-1 Personal Foul</button>
        <button mat-raised-button color="warn" (click)="techTwoDown()">-1 Technical Foul</button>
      </div><br>
      <form>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Player Name</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gatka Akhara</mat-label>
          <input matInput>
        </mat-form-field>
      </form>
    </mat-card>
  </div>
</div>