<app-navbar></app-navbar>
<div class="container">
    <mat-card>
        <div style="text-align: center;">
            <mat-card-title>2:00</mat-card-title>
            <mat-card-subtitle>Match Time</mat-card-subtitle>
        </div>
        <div class="scoreBtns">
            <button mat-raised-button color="primary">Start</button>
            <button mat-raised-button color="primary">Pause</button>
            <button mat-raised-button color="primary">Reset Timer</button>
              <br>
            <button mat-raised-button color="basic">+1 second</button>
            <button mat-raised-button color="basic">-1 second</button>
              <br>
            <button mat-raised-button color="basic">Overtime</button>
          </div>
    </mat-card>
</div><br>
<div class="playerWrapper">
    <div class="playerCard">
        <div style="text-align: center;">
            <h1>Score: 0</h1>
            <h3>Personal Fouls: 0</h3>
            <h3>Technical Fouls: 0</h3>
        </div><br>
        <mat-card>
            <div style="text-align: center;">
                <mat-card-title>Player 1</mat-card-title>
                <mat-card-subtitle>Gatka Akhara</mat-card-subtitle>
            </div>
            <div class="scoreBtns">
                <button mat-raised-button color="primary">+1</button>
                <button mat-raised-button color="primary">+2</button>
                <button mat-raised-button color="primary">+3</button>
                  <br>
                <button mat-raised-button color="warn">-1</button>
                <button mat-raised-button color="warn">-2</button>
                <button mat-raised-button color="warn">-3</button>
              </div>
              <br>
              <div class="foulBtns">
                <button mat-raised-button color="primary">+1 Personal Foul</button>
                <button mat-raised-button color="primary">+1 Technical Foul</button>
                  <br>
                <button mat-raised-button color="warn">-1 Personal Foul</button>
                <button mat-raised-button color="warn">-1 Technical Foul</button>
              </div>
        </mat-card>
    </div>
    <div class="playerCard">
        <div style="text-align: center;">
            <h1>Score: 0</h1>
            <h3>Personal Fouls: 0</h3>
            <h3>Technical Fouls: 0</h3>
        </div><br>
        <mat-card>
            <div style="text-align: center;">
                <mat-card-title>Player 2</mat-card-title>
                <mat-card-subtitle>Gatka Akhara</mat-card-subtitle>
            </div>
            <div class="scoreBtns">
              <button mat-raised-button color="primary">+1</button>
              <button mat-raised-button color="primary">+2</button>
              <button mat-raised-button color="primary">+3</button>
                <br>
              <button mat-raised-button color="warn">-1</button>
              <button mat-raised-button color="warn">-2</button>
              <button mat-raised-button color="warn">-3</button>
            </div>
            <br>
            <div class="foulBtns">
              <button mat-raised-button color="primary">+1 Personal Foul</button>
              <button mat-raised-button color="primary">+1 Technical Foul</button>
                <br>
              <button mat-raised-button color="warn">-1 Personal Foul</button>
              <button mat-raised-button color="warn">-1 Technical Foul</button>
            </div>
        </mat-card>
    </div>
</div>