<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navbar></app-navbar>
<mat-tab-group>
    <mat-tab label="Home" >
        <p class="tab">
            Welcome to the Gatka Tournament Management Application,
            created by the sevadaars of DCSikhSangat. In preparation
            of the Maidan-E-Jung 2022 International Gatka Tournament,
            <br><br>This application was created primarily to automate processes
            which were previously manual, such as scoring, timekeeping, etc.
            This application supports overlaying the score on a livestream
            by using the /overlay extension at the end of the root hyperlink.
        </p>
    </mat-tab>
    <mat-tab label="About Gatka"> 
        <p class="tab">
            Gatka is an ancient martial art which has been thoroughly battle-tested and has existed in northern India for many thousands of years. It is considered to be a spiritual as well as a physical exercise. Both these aspects of the person are developed to a high level during the learning phase in this ancient art. Although it uses the sword as its primary weapon, many other weapons are available to the Gatka master. Today, this art exists exclusively amongst the Sikhs who have passed down the flamboyant techniques through generations, since their sixth Guru, Guru Hargobind wore the two swords of Miri (temporal, worldly) and Piri (spiritual, transcendental).<br><br>

            The Sikhs have been responsible for the revival of this early art ensuring it's survival despite mass persecution of the native population in India by foreign invaders like the Mughals and others for many hundreds of years.<br><br>

            Gatka is a complete martial system which uses spiritual, mental and physical skills in equal portions to help one fully competent in defending themselves and others.
        </p>
    </mat-tab>
    <mat-tab label="Follow Our Work">
        <p class="tab">
            <a href="https://www.youtube.com/c/DCSikhSangat" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/dcsikhsangat/" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/DCSikhSangat" class="fa fa-facebook"></a>
 
        </p>
    </mat-tab>
</mat-tab-group>