<app-navbar></app-navbar>
<div class="sw-container">
    <div class="stopwatch">
        <h1 class="timer">
            <span class="countdown-minutes">{{ minutes < 10 ? '0' + minutes : minutes }}</span> :
            <span class="countdown-seconds">{{ seconds < 10 ? '0' + seconds : seconds }}</span>
        </h1>
    </div>
  
    <button mat-raised-button color="primary" (click)="startOrResumeCountdown()">Start Time</button>
    <button mat-raised-button color="primary" (click)="pauseCountdown()">Pause Time</button><br><br>
    <button mat-raised-button color="primary" (click)="resetCountdown()">2 mins</button>
    <button mat-raised-button color="primary" (click)="setThirtySeconds()">30 Seconds</button><br><br>
    <button mat-raised-button color="primary" (click)="addOneSec()">Add 1</button>
    <button mat-raised-button color="primary" (click)="subtractOneSec()">Sub 1</button><br>
</div>