.sw-container {
    margin: 20px;
  }
  
  .stopwatch {
    padding: 0px;
  }
  
  button {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 21px 21px;
  
    @media (min-width: 768px) {
      font-size: 18px;
      padding: 10px 20px;
    }
  
    @media (min-width: 992px) {
      font-size: 20px;
      padding: 12px 24px;
    }
  }
  
  .timer {
    font-size: 40px;
    padding: 20px;
  
    @media (min-width: 310px) {
        font-size: 70px;
        padding: 30px;
      }

    @media (min-width: 768px) {
      font-size: 100px;
      padding: 40px;
    }
  }