<div class="bg">
  <div class="container">
    <img src="../../assets/images/JES24Logo.png" class="header" />
    <div class="tournament-info">
      <h1 class="bracket">{{ currentGame.bracket }}</h1>
      <h1 class="timer">
        <span class="countdown-minutes">{{ minutes < 10 ? '0' + minutes : minutes }}</span> :
        <span class="countdown-seconds">{{ seconds < 10 ? '0' + seconds : seconds }}</span>
      </h1>
    </div>
  </div>
  <div class="playerWrapper">
    <div class="playerCard">
      <div class="player-info">
        <h2 class="score">{{ currentGame.score1 }}</h2>
        <h2 class="names">{{ currentGame.name1 }}</h2>
        <h3 class="akhara">{{ currentGame.akhara1 }}</h3>
        <div class="player-fouls">
          <h3 class="smallPlayerInfo">Blocks: {{ currentGame.blocks1 }}</h3>
          <h3 class="smallPlayerInfo">Personal Fouls: {{ currentGame.pFoul1 }}</h3>
          <h3 class="smallPlayerInfo">Technical Fouls: {{ currentGame.tFoul1 }}</h3>
        </div>
      </div>
    </div>
    <div class="playerCard">
      <div class="player-info">
        <h2 class="score">{{ currentGame.score2 }}</h2>
        <h2 class="names">{{ currentGame.name2 }}</h2>
        <h3 class="akhara">{{ currentGame.akhara2 }}</h3>
        <div class="player-fouls">
          <h3 class="smallPlayerInfo">Blocks: {{ currentGame.blocks2 }}</h3>
          <h3 class="smallPlayerInfo">Personal Fouls: {{ currentGame.pFoul2 }}</h3>
          <h3 class="smallPlayerInfo">Technical Fouls: {{ currentGame.tFoul2 }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
