<div class="overlayBg">
    <img src="../../assets/images/gatkalogotr.png" width="5.5%" class="logo" />
    <img src="../../assets/images/LiveHeaderTr.png" width="21.5%" class="header" />
    <!-- <div>
      <p class="player2">{{name2}}
        <br>
        <span class="akhara">{{akhara2}}</span>
      </p>
    </div>
    <p class="score2">{{score2}}</p>
    <p class="time"><countdown mat-card-title #cd [config]="{ leftTime: 120, demand: true, format: 'mm:ss' }" style="
      color: white; 
      float: right;
      text-align: center;
      font-family: 'Bebas Neue', 'Roboto', sans-serif;
      font-size: 45px;"></countdown>
      <br>
      <span class="akhara">Singhs Seniors</span>
    </p>
    <p class="score1">{{score1}}</p>
    <div>
      <p class="player1">{{name1}}
        <br>
        <span class="akhara">{{akhara1}}</span>
      </p>
    </div> -->
  </div>