<div class="overlayBg">
  <img src="../../assets/images/JES24Logo.png" width="18.5%" class="header" />  
  <div class="player-container">
    <p class="score1">{{currentGame.score1}}</p>
    <p class="player1">{{currentGame.name1}}</p>
    <p class="akhara1">{{currentGame.akhara1}}</p>
  </div>
  <div class="fouls-container">
    <p class="fouls">Blk: {{ currentGame.blocks1 }}</p>
    <p class="fouls">Pers: {{currentGame.pFoul1}}</p>
    <p class="fouls">Tech: {{currentGame.tFoul1}}</p>
  </div>
  <div class="player-container">
    <p class="timer">{{ currentGame.minutes < 10 ? '0' + currentGame.minutes : currentGame.minutes}} : {{ currentGame.seconds < 10 ? '0' + currentGame.seconds : currentGame.seconds}}</p>
    <p class="bracket">{{currentGame.bracket}}</p>
  </div>
  <div class="fouls2-container">
    <p class="fouls">Blk: {{ currentGame.blocks2 }}</p>
    <p class="fouls">Pers: {{currentGame.pFoul2}}</p>
    <p class="fouls">Tech: {{currentGame.tFoul2}}</p>
  </div>
  <div class="player2-container">
    <p class="score1">{{currentGame.score2}}</p>
    <p class="player1">{{currentGame.name2}}</p>
    <p class="akhara1">{{currentGame.akhara2}}</p>
  </div>
  <img src="../../assets/images/SbjsLogo.png" width="7.5%" class="logo" />
  </div>