.overlayBg {
    background-color: black;
    height: 128px;
    width: 1920px;
    opacity: 97%;
}
.logo {
    float: right;
    margin: 20px;
}
.header {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}